* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-color: #9370DB;
  --background-color: #B19CD9;
}

/* Primeira cor (esquerda): #9370DB (Purple Médio)
Segunda cor: #B19CD9 (Lavanda Clara)
Terceira cor: #DCD0FF (Lavanda Muito Clara)
Quarta cor (direita): #F8F0FF (Quase Branco/Lavanda Pálida)
*/