.caroussel {
  margin: 0;                /* remove margens externas */
  padding: 40px;            /* espaço interno visível */
  background-color: black;
  width: 600px;  /* largura máxima do carrossel */
}

.caroussel .slick-list {
  overflow: hidden;   /* recorta apenas os slides */
  background-color: black;
}

.slick-slide img {
  width: 100%;         /* imagem ocupa toda a largura do slide */
  height: 600px; /* ou o valor que você quiser */
  object-fit: cover; /* opcional, para manter o corte bonito */
}


/* dot config */

.slick-dots li button:before {
  font-size: 8px;
  color: #ccc;
}
.slick-dots li.slick-active button:before {
  color: black;
}