.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #DCD0FF ;
    font-family: 'Limewire', sans-serif;
    font-weight: bold;
    max-height: 100px;
}

.header ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

.header ul li a {
    font-size: 16px;
    color: #B19CD9;
    cursor: pointer;
    text-decoration: none;
}

.header ul li a:hover {
    color: var(--background-color);
}

.header-logo {
    height: 200px;
}